@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @responsive {
        .scrolling-touch {
            -webkit-overflow-scrolling: touch;
        }
        .scrolling-auto {
            -webkit-overflow-scrolling: auto;
        }
    }
}

main {
    min-height: 100vh;
}

.h1, .h2, .h3, .h4, .h5, .h6, .lead {
    @apply font-medium text-gray-700 mb-2;
}

.h1, .h2 {
    line-height: 1.125;
}

.h1 {
    @apply text-h1;
}

.h2 {
    @apply text-h2;
}

.h3, .h4, .lead {
    @apply leading-tight;
}

.h3 {
    @apply text-h3;
}

.h4 {
    @apply text-h4;
}

.lead {
    @apply font-light;
}

.h5, .h6 {
    @apply leading-normal
}

.h5 {
    @apply text-h5
}

.h6 {
    @apply text-h6
}

.grid {
    display: grid;
}

.focus-ring:focus {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
}

.focus-ring-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 230, 118, 0.5);
}

.focus-ring-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(138, 205, 234, 0.5);
}

.focus-ring-muted:focus {
    box-shadow: 0 0 0 0.2rem rgba(160, 174, 192, 0.5);
}

.shadow-soft {
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.card {
    @apply bg-white py-6 px-8;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.card-cond {
    @apply bg-white py-4 px-5;
    box-shadow: 0 2px 4px rgba(50, 50, 93, 0.1);
}

.btn-sm {
    @apply py-1 px-3;
}

.sort-button {
    @apply text-gray-900 border font-semibold uppercase tracking-wide text-sm;
}

input[type="radio"] + label span {
    transition: background .2s,
    transform .2s;
}

input[type="radio"]:checked + label span {
    background-color: theme('colors.primary');
}

input[type="radio"]:checked + label {
    color: theme('colors.primary');
}
